<!DOCTYPE html>
<html>
  <head>
    <title>Animal Shelter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href="<%= url('css/styles.css') %>">
  </head>
  <body>
    <div class="header jumbotron">
      <h1>Animal Shelter</h1>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
