<h1>Here are the animals sorted by breed</h1>
<% @breed_sorted.each do |animal| %>
  <p>Name: <%= animal.name %>
     Gender: <%= animal.gender %>
     Species: <%= animal.species %>
     Breed: <%= animal.breed %>
   </p>
   <% end %>

   <a href="/adoption"><span class="btn btn-danger">Back</span></a>
